nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 0px 20px hsla(0, 0%, 0%, 0.1);
    
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: hsla(0, 0%, 0%, 0.7);
    font-size: 17px;
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 5px 20px;
    position: relative; /* Necessário para o ::after funcionar corretamente */
}

nav ul li a:hover {
    color: hsl(207, 81%, 52%);
}

nav ul li a::after { /* Este pseudo-elemento cria o efeito de underline */
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: hsl(217, 77%, 55%);
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .logo{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    cursor: pointer;
}

nav .logo h1{
    font-size: 20px;
}

nav .logo img{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
nav .user-info{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}
nav .user-info h2{
    font-size: 15px;
    font-weight: 600;
    color: hsl(0, 0%, 0%, 0.7);
}

nav .user-info img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.angariacao-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.angariacao-header .search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.angariacao-header .search-bar input{
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 500px;
}
.angariacao-header .search-bar input::placeholder{
    color: hsl(0, 0%, 0%, 0.5);
    font-size: 14px;
    font-weight: 400;   
}
.angariacao-header .search-bar button{
    padding: 7px 15px;
    border: none;
    color: hsl(0, 0%, 0%);
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    transform: translateX(-56px);
}

.filter{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
}

.filter .filter-button{
    padding: 7px 15px;
    border: none;
    color: hsl(0, 0%, 0%);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    transition: all 0.3s ease;
}
.filter .filter-button:hover{
    background-color: hsl(0, 0%, 0%);
    color: white;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 5px 0;
    }

    .user-info {
        flex-direction: column;
        text-align: center;
    }
}
